*.o
*.lo
Makefile
Makefile.in
.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxy.conf
install-sh
libtool
ltmain.sh
m4/
missing
mrss.pc
src/libmrss.la
src/mrss.h
stamp-h1
test-driver
